{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <title>Progress Tracker</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>

{% block content %}
{% endblock %}


<footer style="position: relative;
	margin-top: -60px;
	height: 60px;
	clear: both;
	padding-top: 18px;
	background-color: #18ffff;
	color: darkblue;"> 
	for any query contact at: riteshghorse@gmail.com 
</footer>
</body>
</html>